<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="navColor">

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu" md="md-menu" (click)="content"></ion-icon>
    </button>
    <ion-title>
      Home
    </ion-title>
  </ion-navbar>

</ion-header>
<ion-menu [content]="content">
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="esParking()">
    <ion-avatar item-start>
      <img src="../../assets/imgs/login_inicial.jpg">
    </ion-avatar>
    <h3>parking</h3>
    <button ion-item>
      <ion-icon name="md-briefcase"></ion-icon>
      Empresas de transporte
    </button>
    <button ion-item>
      <ion-icon name="md-arrow-round-down"></ion-icon>
      Entradas
    </button>
    <button ion-item>
      <ion-icon name="md-arrow-round-up"></ion-icon>
      Salidas
    </button>
    <button ion-item>
      <ion-icon name="md-grid"></ion-icon>
      Plazas
    </button>
    <button ion-item>
      <ion-icon name="md-mail"></ion-icon>
      Contacto / Sugerencias
    </button>
  </ion-list>

  <ion-list *ngIf="!esParking()">
    <ion-item>
      <ion-avatar item-start>
        <img src="../../assets/imgs/truck.jpg">
      </ion-avatar>
      <h2>Empresa</h2>
    </ion-item>
    <button ion-item>
      <ion-icon name="md-search"></ion-icon>
      Buscar Parking
    </button>
    <button ion-item>
      <ion-icon name="md-list-box"></ion-icon>
      Mis Contratos
    </button>
    <button ion-item>
      <ion-icon name="md-done-all"></ion-icon>
      Mis Reservas
    </button>
    <button ion-item>
      <ion-icon name="md-mail"></ion-icon>
      Contacto / Sugerencias
    </button>
  </ion-list>
</ion-content>
</ion-menu>
<ion-nav id="nav" #content [root]="rootPage"></ion-nav>

<ion-content>
  <div class="card-center-page">
  <ion-card *ngIf="esParking()">
    <img src="../../assets/imgs/login_inicial.jpg">
    <div class="card-title">Parking</div>
  </ion-card>

  <ion-card *ngIf="!esParking()">
    <img src="../../assets/imgs/truck.jpg">
    <div class="card-title">Empresa</div>
  </ion-card>
  </div>
</ion-content>
