<!--
  Generated template for the DetalleMovimientoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="navColor">

  <ion-navbar color="primary">
    <ion-title>
      Detalle Movimiento
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-list-header><h1>{{movimiento.matriculaCamion}}</h1></ion-list-header>
    <ion-item>
      <h2><b>Entrada: </b> {{movimiento.fechaEntrada}} {{movimiento.horaEntrada}}</h2>
      <p>- {{movimiento.nombreTransportista}}</p>
      <p><b>- DNI:</b> {{movimiento.dniTranportista}}</p>
      <p><b>- Semiremolque: </b>{{movimiento.matriculaSemiremolque}}</p>
    </ion-item>
    <ion-item *ngIf="movimiento.fechaSalida">
      <h2><b>Salida: </b> {{movimiento.fechaSalida}} {{movimiento.horaSalida}}</h2>
      <p>- {{movimiento.nombreTransportistaSalida}}</p>
      <p><b>- DNI: </b>{{movimiento.dniTranportistaSalida}}</p>
      <p><b>- Semiremolque: </b>{{movimiento.matriculaSemiremolqueSalida}}</p>
    </ion-item>
    <ion-item *ngIf="!movimiento.fechaSalida">
      <b>Salida: </b>
      <p>El camión se encuentra actualmente en el parking</p>
    </ion-item>
  </ion-list>
</ion-content>
